.carousel-img {
  object-fit: cover;
  width: 100px;
  height: 67px;
  padding: 6px;
  opacity: 0.3;
  cursor: pointer;
  /* float: left; */
}

.carousel-slider {
  transition: opacity 300ms linear;
  flex: 1
}

.carousel-img-bright {
  object-fit: cover;
  width: 100px;
  height: 67px;
  padding: 6px;
  opacity: 1;
  cursor: pointer;
}