.container {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(2, minmax(auto, 200px));
}



.background-container {
  background: #484848; 
}

.container:hover > .wrapper {
  opacity: 0.5;
}

.container > .wrapper:hover {
  opacity: 1;
}
